@model RevRegFinal.Models.CourseModel

@{
    Layout = "~/Views/_IndexLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Courses</title>
</head>
<body>
    <div> 
        <p>Here is a list of courses for you to choose from: </p>
        <table class="table">
            <tr>
                <th>Course Name</th>
                <th>Start Time</th>
                <th>Location</th>
                <th>Credit Hours</th>
                <th>Number of Students</th>
                <th>Status</th>
            </tr>
        </table>
    </div>
</body>
</html>
